@use 'abstracts/variables' as *;

.master-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $spacing-4;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-3;
  }
}

@media (max-width: $mobile) {
  .master-container {
    .card-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr;
    }
    .main {
      grid-template-columns: 1fr;
    }
  }
}
