@use 'abstracts/variables' as *;

.masters {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $spacing-4;
  }
}
@media (max-width: $mobile) {
    .masters {
        .card-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        }
    }
}
