<header class="navbar">
  <div class="left">
    <button class="mobile-menu-btn" (click)="sidebarService.toggleMobile()">
      <i class="pi pi-bars"></i>
    </button>

    <p-breadcrumb [model]="items" [home]="home" />
  </div>

  <div class="right">
    <app-lang-switcher />

    <button class="theme-btn" (click)="themeService.toggle()">
      <i
        class="pi"
        [class.pi-sun]="themeService.isDark()"
        [class.pi-moon]="!themeService.isDark()"
      ></i>
    </button>

    <button class="theme-btn bell">
      <i class="pi pi-bell"></i>
      <span class="bell__dot"></span>
    </button>

    @if (auth.user(); as u) {
      <app-avatar [initials]="u.initials" [size]="40" [online]="true" />
    } @else {
      <div class="user">?</div>
    }
  </div>
</header>
